// ----------------------------------------------------------------------------
// Link libraries
// ----------------------------------------------------------------------------
@import "reset";
@import "grid";
@import "utils/mixins";
@import "utils/vars";


// ----------------------------------------------------------------------------
// Base settings
// ----------------------------------------------------------------------------
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    @media screen and (max-width: $desktopWidth) {
        font-size: 16px;
      }
      @media screen and (max-width: $tableWidth) {
        font-size: 15px;
      }
      @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
      }
}
body{
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
    font-family:  $mainFont, sans-serif;
}
h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-weight: 700;
}
p{
    line-height: 1.2em;
    font-size: rem(16);
}
a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
    color: $primary-color;
    outline: 0;
}
a:hover{
    text-decoration-line: underline;
}
img{
	max-width: 100%;
	max-height: 100%;
}
button{
    font-family: $mainFont, sans-serif; 
    outline: 0; 
    &:focus{
        outline: 0;
    }
    &:active{
        outline: 0;
    }
}
input{
    font-family: $mainFont, sans-serif;
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    height: 26px;
    padding: 10px;
}
p{
    margin-bottom: 1em;
    line-height: 120%;
}
// ----------------------------------------------------------------------------
// Common styles
// ----------------------------------------------------------------------------
h1, .h1{
    font-size: rem(47);
    color: #006DAB;
}
.h1-page{
    font-size: 36px;
    margin-bottom: 57px;
    @media screen and (max-width: $phoneWidth) {
        font-size: 32px;
    }
}
h2, .h2 {
    font-size: rem(32);
    color: #006DAB;
}
h3, .h3{
    font-size: rem(24);
    color: #006DAB;
}
h4, .h4{
    font-size: 18px;
}

b{
    font-weight: 700;
}
.text{
    &_under{
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
    &_20{
        font-size: 20px;
    }
}

strong{
    color: #000000;
    font-weight: 700;
}

a strong{
    text-decoration: underline;
}

.top-bg-section{
    padding: 40px 0;
    background: url('../img/top-bg.jpg') no-repeat right bottom; 
    @media screen and (max-width: $phoneWidth  ){
        background: #fff; 
    }
    &_left{
        background: url('../img/top-bg-left.jpg') no-repeat left -140px;
        padding: 40px 0;
    }
}
.section-title{
    margin-bottom: 50px;
    @media screen and (max-width: $phoneWidth  ){
        margin-bottom: 20px;
    }
    &_center{
        text-align: center;
    }
}
.mb{
    &_5{
        margin-bottom: 5px;
    }
    &_5ib{
        margin-bottom: 5px;
        display: inline-block;
    }
    &_10ib{
        margin-bottom: 10px;
        display: inline-block;
    }
    &_10{
        margin-bottom: 10px;
    }
    &_50{
        margin-bottom: 50px;
    }
    &_80{
        margin-bottom: 80px;
    }
}
.mt{
    &_50{
        margin-top: 50px;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1280px;
    }
}
.sup {
    position: relative;
    &:after{
        content: '®';
        height: 100%;
        position: absolute;
        text-decoration: none !important;
        top: -4px;
        right: -12px;
    }
}
// ----------------------------------------------------------------------------
// Main styles
// ----------------------------------------------------------------------------
.index-body {
    height: 100vh;
    overflow: hidden;
    @media screen and (max-width: $phoneWidth   ){
       height: auto;
       overflow: visible;
    }
}
.index-main{
    height: 100vh;
    overflow: hidden;
    background: #F8C99B url('../img/main-bg.jpg') no-repeat center /cover;
    @media screen and (max-width: $phoneWidth  ){
        height: auto;
        overflow: visible;
        background: #F8C99B url('../img/main-bg.jpg') no-repeat 100% /cover;

    }
}
.main-page {
    height: 50vh;
    margin-top: 5%;
    padding-bottom: 0px;
    @media screen and (min-height: 800px  ){
        // padding-top: 74px;
    }
    @media screen and (max-width: 1500px ) and (min-height: 1000px){
        margin-top: 6%;
    }
    @media screen and (max-width: 1600px ) and (min-height: 950px){
        margin-top: 7%;
    }
}

.main-title{
    margin-left: -15px;
    padding: 48px 20px 20px 90px;
    height: 100%;
    max-width: 746px;
    max-height: 44vh;
    margin-bottom: 0;
    background: hsla(0,0%,100%,.5);
    color: #007cc3;

    position: relative;
    @media screen and (min-width: $smDesktopWidth  ) and (min-height: 840px){
        padding: 57px 20px 50px 88px;
    }
    @media screen and (min-width: $smDesktopWidth  ) and (min-height: 950px){
        padding: 70px 21px 77px 90px;
    }


    
    @media screen and (max-width: 1600px    ){
        max-width: 945px;
        padding-left: 10%;
    }
    @media screen and (max-width: 1440px    ){
        max-width: 957px;
        padding-left: 16%;
    }
    @media screen and (max-width: 1350px    ){
        padding-left: 10%;
    }
    @media screen and (max-width: 1300px    ){
        max-width: 63%;
    }
    @media screen and (max-width: 1200px    ){
        padding-left: 79px;
        max-width: 63%;
    }
    @media screen and (max-width: 1080px    ){
        max-width: 70%;
    }

    @media screen and (min-width: 1420px ) and (min-height: 1000px){
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 200px;
    }
    @media screen and (min-width: 1600px    ){
        max-width: 1007px;
        padding-left: 208px;
    }
    @media screen and (min-width: 1650px    ){
        max-width: 1031px;
        padding-left: 236px;
    }
    @media screen and (min-width: 1700px    ){
        max-width: 1080px;
        padding-left: 280px;
    }
    



    @media screen and (max-width: $smDesktopWidth    ){
        padding: 48px 210px 20px 90px;
        max-width: 793px;
        max-height: 35vh;
    }
    @media screen and (max-width: $tableWidth   ){
        height: 480px;
        max-height: 480px;
        padding-right: 100px;
        height: auto;
        padding: 70px 50px;
    }
    
    @media screen and (max-width: $smTableWidth  ){
        padding-right: 150px;
    }
    @media screen and (max-width: $phoneWidth   ){
        padding: 30px 15px !important;
        height: auto;
        margin: auto;
        margin-bottom: 50px !important;
        margin-top: 50px !important;
    }
    @media screen and (max-width: 350px  ){
        padding: 20px 8px;
        font-size: 16px;
    }
    &::before{
        content: "";
        display: block;
        width: 839px;
        height: 120%;
        background: url('../img/main-title-rec.svg') no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translateY(-49.5%);
        z-index: 0;
        
        @media screen and (min-width: $smDesktopWidth  ) and (max-height: 850px){
            left: 67%;
        }
        @media screen and (min-width: $smDesktopWidth  ) and (min-height: 850px)and (max-height: 950px) {
            left: 57%;
        }

        @media screen and (max-width: $smDesktopWidth  ){
            display: none;
        }
        
        @media screen and (max-width: $tableWidth ){
            display: none;
        }

    }
    // &::after{
    //     content: "";
    //     display: block;
    //     max-width: 5px;
    //     width: 100%;
    //     height: 479px;
    //     position: absolute;
    //     top: calc(50% - 2px);
    //     transform: translateY(-49.5%);
    //     z-index: 100;
    //     background: #e9f7ff;
    // }
    &__h1{
        margin-bottom: 38px;
        line-height: 110%;
        @media screen and (max-width: $desktopWidth    ){
            font-size: rem(38);
        }
        @media screen and (max-width: $smDesktopWidth    ){
            font-size: rem(32);
        }
        @media screen and (max-width: $phoneWidth  ){
            
            font-size: 25px;
            margin-bottom: 18px; 

        }
        @media screen and (max-width: 386px  ){
            font-size: 20px;
        }
    }
    &__descr{
        font-weight: 400;
        font-size: rem(28);
        line-height: 110%;
        top: 44px;
        right: 323px;
        max-width: 92%;
        @media screen and (max-width: $desktopWidth    ){
            font-size: rem(28);
        }
        @media screen and (max-width: $smDesktopWidth    ){
            font-size: rem(24);
        }
        @media screen and (max-width: $tableWidth  ){
            font-size: rem(30);
        }
        @media screen and (max-width: $phoneWidth  ){
            font-size: rem(20);
            margin-bottom: 0;
            max-width: 100%;
        }
        @media screen and (max-width: 386px  ){
            font-size: 14px;
        }
    }
}
.section-news { 
    // margin-top: 10%;
    // margin-bottom: 10%;
    height: 50vh;
    .article-card {
        height: 85%;
        background: rgba(255,255,255,0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 19px 16px 38px;
        @media screen and (max-width: $desktopWidth    ){
            padding: 15px 19px 18px 38px;
        }
        @media screen and (max-width: $smTableWidth   ){
            height: auto;
        }
    }
}
.article-card{
    background: #FFFFFF;
    // max-height: 165px;
    // height: 100%;
    box-shadow: 2px 2px 4px rgba(194, 197, 198, 0.3),
    -2px -2px 4px rgba(194, 197, 198, 0.3);
    border-radius: 4px;
    padding: 32px 19px 32px 38px;
    position: relative;
    margin: 0 5px 20px;
    font-size: rem(14);
    line-height: rem(18);
    &::after{
        content: "";
        display: block;
        position: absolute;
        left: 19px;
        top: 32px;
        width: 2.72px;
        height: calc(100% - 64px);
        background: #80B6D5;
    }
    &__title{
        color: #000;
        // max-height: 60px;
        // height: 100%;
        font-size: rem(18);
        margin-bottom: 20px;
        line-height: rem(24);
        a {
            color: #000;
        }
    }
    &__text{
        font-size: rem(14);
    }
    &__footer{
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &-link {
            font-weight: bold;
            color: $primary-color;
        }
        &-date{
            text-transform: uppercase;
        }

    }
}

.box-border{
    padding: 40px;
    border: 3px solid #FDAE55;
    position: relative;
    @media screen and (max-width: $phoneWidth  ){
        padding: 40px 20px 20px 20px
    }
   
    &__title{
        position: absolute;
        //  Этот параметр меняется жинамически через JS (main.js)
        top: -12px;
        // -----------------
        background-color: #FFFFFF;
        padding: 0 22px;
        left: 20px;
        line-height: 20px;
        @media screen and (max-width: $tableWidth  ){
            padding-right: 0;
        }

        
        @media screen and (max-width: $phoneWidth  ){
            font-size: rem(38);
            top: -20px;
            padding: 0 22px;
            left: 1px;
            max-width: 340px;
        }
        @media screen and (max-width: 367px  ){
            top: -35px;
            max-width: calc(100% - 16px);
        }
        span {
            vertical-align: super;
            line-height: 5px;
            font-size: rem(20);
        }
        
    }
    p{
        margin-bottom: 0;
        text-align: justify;
    }
    &_justify{
        p{
            text-align: left;
        }
    }


    &.box-border--black {
        margin-left: 15px;
        padding: 20px 40px;
        
        @media screen and (max-width: $phoneWidth) {
            margin-left: 0;
            margin: auto;
            max-width: 100%;
            border: none;
            padding: 0 15px;
            .list {
                &-ol {
                    padding-left: 12px;
                }
            }
        }
        .box-border{
            &__title{
                color: #000;
                top: -14px;
                line-height: rem(30);
                @media screen and (max-width: $tableWidth){
                    padding-right: 10px;
                }
                @media screen and (max-width: $phoneWidth) {
                    top: 0;
                    left: 0;
                    max-width: 100%;
                    font-size: rem(26);
                    line-height: rem(28);
                    padding: 0;
                    position: relative;
                }
            }
        }
    }
}

.about-items{
    margin-top: 70px;
    &__body{
        text-align: left;
    }
    &_min{
        .bg-ico{
            width: 85px;
            height: 80px;
            background-size: cover;
            @media screen and (max-width: $tableWidth  ){
                width: 56px;
                height: 56px;
                background-size: contain;
            }
        }
    }
}

.about-item{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    text-align: justify;
   
    &__ico{
        flex-shrink: 0;
        margin-right: 22px;
        @media screen and (max-width: $phoneWidth ) {
            img {
                max-width: 40%;
            }
        }
    }
}
.about-section.top-bg-section{
    background: url('../img/top-bg.jpg') no-repeat 100% 0;
    @media screen and (max-width: $tableWidth  ){
        background: url('../img/top-bg.jpg') no-repeat 66% -35%;
    }
}

.about-section {
    a strong {
        color: $primary-color;
    }
    @media screen and (max-width: $tableWidth  ){
        .box-border{
            margin-top: 150px;
        }
    }
}
.catalog.top-bg-section{
    @media screen and (max-width: $phoneWidth  ){
        background: #fff;
    }
}
.bg-ico{
    width: 142px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/ico-bg.png") no-repeat center;
    
    @media screen and (max-width: $phoneWidth  ){
        width: 88px;
        height: 75px;
        background-size: contain;
        margin-right: 10px;
    }
}


.article-section{
    margin-bottom: 100px;
    
    &-row {
        align-items: center;
        position: relative;
        margin-bottom: 90px;
        &:last-child{
            margin-bottom: 0;
        }
        &::before {
            content: "";
            display: none;
            position: absolute;
            border: 3px solid #FDAE55;
        }
        &_bg1 {
            &::before {
                display: block;
                max-width: 525px;
                width: 100%;
                max-height: 383px;
                height: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: $phoneWidth  ){
                    width: 93%;
                    height: 63%;
                    left: 50%;
                    top: 40%;
                }
            }
        }
        &_bg2{
            &::before {
                display: block;
                max-width: 820px;
                width: 100%;
                max-height: 554px;
                height: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: $phoneWidth  ){
                    width: 93%;
                    height: 63%;
                    left: 50%;
                    top: 56%;
                }
            }
        }
        &_bg3 {
            &::before {
                display: block;
                max-width: 423px;
                max-height: 434px;
                width: 100%;
                height: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-70%, -50%);
                @media screen and (max-width: $tableWidth ){
                    display: block;
                    max-width: 820px;
                    width: 100%;
                    max-height: 554px;
                    height: 70%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                @media screen and (max-width: $phoneWidth  ){
                    width: 93%;
                    height: 63%;
                    left: 50%;
                    top: 40%;
                }
            }
        }
    }
    &-text{
        padding: 30px;
        background: #80B6D5;
        color: #ffffff;
        @media screen and (max-width: $phoneWidth ){
            padding: 15px;
            width: 92%;
            margin: auto;
        }
        p:last-child{
            margin-bottom: 0;
        }
        &_cer{
            p{
                max-width: 92%;
            }
        }
    }
    // position: absolute;
    // right: 0;
    // width: 40%;
    // box-shadow: 0px 5px 10px -5px #000;
    // z-index: 30;
    // background: #fff;
    &-slider{
        
        &_1{
            .article-section-slider__item{
                max-height: 334px;
                height: 334px;
                padding: 15px;
            }
            .slick-dots {
                @media screen and (max-width: $tableWidth ){
                    bottom: 10%
                }
                @media screen and (max-width: 500px  ){
                    bottom: 20%
                }
                @media screen and (max-width: 500px  ){
                    bottom: 25%
                }
                @media screen and (max-width: 450px  ){
                    bottom: 30%
                }
                @media screen and (max-width: 400px  ){
                    bottom: 35%
                }
                @media screen and (max-width: 350px  ){
                    bottom: 40%
                }
            }
        }
        &_2 {
            .article-section-slider__item {
                max-height: 378px;
                height: 378px;
                padding: 15px;

                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &-img{
       
            padding: 15px;
    }
}
.article-section-slider,
.info-slider__wrapper {
    position: relative;
    .slider-arrow{
        position: absolute;
        top: calc(50% - 40px);
        background: transparent;
        border: none;
        z-index: 10;
        
        
    }
    .slider-arrow.slider-prev{
        left: -25px;
        @media screen and (max-width: $smTableWidth){
            left: 0;
        }
    }
    .slider-arrow.slider-next{
        right: -25px;
        @media screen and (max-width: $smTableWidth){
            right: 0;
        }
    }
}
.info-slider__wrapper {
    .slider-arrow{
        &.slider-prev{
            left: -45px;
            @media screen and (max-width: $smTableWidth){
                left: 0;
            }
        }
        &.slider-next{
            right: -72px;
            @media screen and (max-width: $smTableWidth){
                right: 0;
            }
        }
    }
}
.slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    button{
        font-size: 0px;
        background: #006DAB;
        border-radius: 50%;
        border: none;
        width: 16px;
        height: 16px;
        margin-right: 16px;
        transition: all 0.3s;
        &:hover{
            background: #80B6D5;
        }
    }
    li{
        &:last-child{
            button{
                margin-right: 0;
            }
        }
    }
    .slick-active{
        button{
            background: #80B6D5;
        }
    }
}
.slick-slide img{
    margin: 0 auto; 
}


.footer{
    background: #E5F0F7;
    color: #006DAB;
    font-weight: 500;
    padding: 40px 0;
    a{
        color: #006DAB;
    }
    &-logo{
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 5px;
        
    }
    &-contats {
        
        li{
            font-size: 16px;
            line-height: 162.9%;
        }
    }
    &-contacts-block{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    &-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        font-size: 22px;
        line-height: 26px;
        @media screen and (max-width: $tableWidth ) {
            margin-top: 0;
        }
        @media screen and (max-width: $phoneWidth ) {
            margin-top: 0;
            font-size: 16px;
        }
        li{
            margin-bottom: 9px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &_small{
            li{
                font-size: 16px;
                &:first-child{
                    font-size: 22px;
                }
            }
        }
    }
    .mob-br {
        display: none;
        @media screen and (max-width: $phoneWidth  ) {
            display: block;
        }
    }
}
.footer-menu-desk{
    display: block;
    @media screen and (max-width: $tableWidth  ) {
        display: none;
    }
}
.footer-menu-mob {
    display: none;
    @media screen and (max-width: $tableWidth  ) {
        display: block;
    }
}

.catalog-tabs-row{
    align-items: center;
    margin-bottom: 60px;
    margin-top: 80px;
}
.catalog-image-row{
    align-items: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

.catalog-tabs{
    li{
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
        a{
            color: rgba(0,124,195, .8);
            transition: all 0.3s;
            @media screen and (max-width: $phoneWidth ) {
                color: $primary-color-dark ;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
        &:hover {
            a{
                color: $warning-color;
                text-decoration: none;
                @media screen and (max-width: $phoneWidth ) {
                    color: $warning-color;
                }
            }
        }
    }
    li.active {
        a{
            color: $warning-color;
            transform: scale(1.1);
            
        }
    }
}
.catalog-tabs-content{
    li{
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        span{
            cursor: pointer;
            display: inline-block;
            height: 22px;
            color: rgba(0, 0, 0, 0.7);
            transition: all 0.3s;
            &:hover{
                color: #000000;
                text-decoration: none;
                font-size: 22px;
            }
        }
    }
    li.active {
        span {
            color: #000000;
            text-decoration: none;
            font-size: 22px;
        }
    }
}

.text-box-blue{
    &-col{
        display: flex;
    }
    background: #fff;
    color: $mainFontColor;
    align-self: stretch;
    padding: 40px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    p:last-child{
        margin-bottom: 0;
    }
}
.product-top{
    padding-bottom: 160px;
    &.top-bg-section_left {
        @media screen and (max-width: $tableWidth ) {
            background: url('../img/top-bg.jpg') no-repeat 68% 0;
        }
        @media screen and (max-width: $phoneWidth ) {
            background: url('../img/top-bg.jpg') no-repeat 79% -54%;
        }
    }
    .row{
        align-items: center;
    }
    .box-border{
        @media screen and (max-width: $phoneWidth ) {
            margin-top: 88px;
        }
        p{
            text-align: left;
        }
    }
}
.product-main-slider{
    margin-bottom: 30px;
    transition: all 0.2s;
    cursor: pointer;
    z-index: 18;
    &.product-main-slider--active {
        transform: scale(1.5);
        background: rgba(255,255,255, 0.8);
        border-radius: 50px;
    }
    img{
        max-height: 350px;
    }
}
.product-nav-slider{
    position: relative;
    @media screen and (max-width: $tableWidth ) {
        margin-bottom: 50px;
    }

    &__item{
        cursor: pointer;
        width: 140px;
        img{
            transition: all 0.3s;
            max-width: 85px;
            height: 85px;
        }
    }
    &__wrap{
        margin: 0 auto;
        max-width: 420px;
    }
    .slider-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: 0;
        width: 60px;
        height: 80px;
        padding: 0;
        z-index: 25;
    }
    .slider-prev{
        left: 0;
        top: -100%;
        img{
            transform: rotate(180deg);
        }
    }
    .slider-next{
        top: -100%;
        right: 0;
    }
    .slick-active{
        position: relative;
        &::after{
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            max-width: 85px;
            border: 2px solid #006DAB;
        }
    }
}
.slider-prev{
    left: 0;
    top: -100%;
    img{
        transform: rotate(180deg);
    }
}
.slider-next{
    top: -100%;
    right: 0;
}

.lg-two-columns{
    display: flex; 
    justify-content: space-between;
    @media screen and (max-width: $phoneWidth){
        flex-direction: column
    }
}


::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba($primary-color, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-track:horizontal {
    border-radius: 10px;
    background-color: rgba($primary-color, .2);
}


.wpcf7 form .wpcf7-response-output {
    max-width: 295px;
    margin: 0;
    padding: 5px;
}
// ----------------------------------------------------------------------------
// Link components style
// ----------------------------------------------------------------------------
// Global
@import "./components/header";
@import "./components/menu";
@import "./components/history";

// Components
@import "./components/form";
@import "./components/buttons";
@import "./components/modals";
@import "./components/download";
@import "./components/accordion";

// Pages
@import "./components/contacts";
@import "./components/product";
@import "./components/aferez";
@import "./components/info";
@import "./components/proflib";

// Other
@import "./components/error404";

// ----------------------------------------------------------------------------
// Link responsive style
// ----------------------------------------------------------------------------


