<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet"> 
    <title>Pocard</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <!-- Header -->
           <!-- Header -->
           <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="search header__search">
                                <form action="#" class="search-form">
                                    <input type="text"> 
                                    <button>
                                        <img src="assets/img/ico-search.svg" alt="search">
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 offset-lg-3">
                            <div class="header__info">
                                <div class="link-phone">
                                    <img src="assets/img/ico-phone.svg" alt="Pohne">
                                    <a href="tel:+74954146815">+ 7(495)414-68-15</a>
                                </div>
                                <div class="link-question">
                                    <img src="assets/img/ico-circle.svg" alt="Circle">
                                    <a class="open-modal-form" href="#">Задать вопрос</a>
                                </div>
                                <ul class="lang">
                                    <li class="lang-active">
                                        <a href="#">
                                            Ru
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            En
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-1 header__menu">
                            <a href="#" class="logo">
                                <img src="assets/img/logo.svg" alt="Pocard">
                            </a>
                        </div>
                        <div class="col-12 col-md-11">
                            <nav class="header__nav nav">
                                <ul>
                                    <li>
                                        <a href="#">
                                            О компании
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            Каталог продукции
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Подменю
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Подменю ПодменюПодменюПодменю
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            Технологии афереза
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">
                                                    Подменю
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Подменю
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Информация для пациентов
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Библиотека для профессионалов
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Контакты
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="header_mob">
            <div class="header_mob-top">
                <div class="container-fluid">
                    <div class="row no-gutters align-items-center">

                        <!-- logo -->
                        <div class="col-10 col-sm-2 col-md-1 header_mob__menu">
                          <a href="#" class="logo">
                              <img src="assets/img/logo.svg" alt="Pocard">
                          </a>
                        </div>
                        <!-- search -->
                        <div class="d-none d-md-block col-md-4">
                            <div class="search header_mob__search">
                                <form action="#" class="search-form">
                                    <input type="text"> 
                                    <button>
                                        <img src="assets/img/ico-search.svg" alt="search">
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- info -->
                        <div class="d-none d-sm-block col-sm-9 col-md-6">
                            <div class="header_mob__info">
                                <div class="link-phone">
                                    <img src="assets/img/ico-phone.svg" alt="Pohne">
                                    <a href="tel:+74954146815">+ 7(495)414-68-15</a>
                                </div>
                                <div class="link-question">
                                    <img src="assets/img/ico-circle.svg" alt="Circle">
                                    <a class="open-modal-form" href="#">Задать вопрос</a>
                                </div>
                                <ul class="lang">
                                    <li class="lang-active">
                                        <a href="#">
                                            Ru
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            En
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- burger -->
                        <div class="col-2 col-sm-1">
                          <div class="burger header_mob__burger" id="burger">
                            <input type="checkbox" />
                            <span id="burger-span1"></span>
                            <span id="burger-span2"></span>
                            <span id="burger-span3"></span>
                          </div>
                          <!-- /.burger header_mob__burger -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header_mob -->
        <menu class="mob-menu menu-closed" id="mob-menu">
            <ul class="mob-menu-ul-1">
              <li class="mob-menu-li">
                  <a href="#" class="mob-menu-a">О компании</a>
              </li>
              <li class="mob-menu-li menu-item-has-children">
                  <a href="#" class="mob-menu-a ">Каталог продукции</a>
                  <ul class="mob-menu-ul-2 sub-menu-mob">
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">Общая информация</a>
                      </li>
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">АВО Адсопарк</a>
                      </li>
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">2</a>
                      </li>
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">3</a>
                      </li>
                  </ul>
              </li>
              <li class="mob-menu-li menu-item-has-children">
                  <a href="#" class="mob-menu-a">Технологиии афереза</a>
                  <ul class="mob-menu-ul-2 sub-menu-mob">
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">Общая информация</a>
                      </li>
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">АВО Адсопарк</a>
                      </li>
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">Информация для пациентов</a>
                      </li>
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">Библиотека для профессионалов</a>
                      </li>
                      <li class="mob-menu-li">
                          <a href="" class="mob-menu-a">Контакты</a>
                      </li>
                  </ul>
              </li>
              <li class="mob-menu-li">
                  <a href="#" class="mob-menu-a">нформация для пациентов</a>
              </li>
              <li class="mob-menu-li">
                  <a href="#" class="mob-menu-a">Библиотека для профессионалов</a>
              </li>
              <li class="mob-menu-li">
                  <a href="#" class="mob-menu-a">Контакты</a>
              </li>
            </ul>
            <div class="info mob-menu_info">
                <div class="link-phone">
                    <img src="assets/img/ico-phone.svg" alt="Pohne">
                    <a href="tel:+74954146815">+ 7(495)414-68-15</a>
                </div>
                <div class="link-question">
                    <img src="assets/img/ico-circle.svg" alt="Circle">
                    <a class="open-modal-form" href="#">Задать вопрос</a>
                </div>
                <ul class="lang">
                    <li class="lang-active">
                        <a href="#">
                            Ru
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            En
                        </a>
                    </li>
                </ul>
            </div>
        </menu>
        <!-- /.mob-menu -->





            <main>
              <section class="aferez-info aferez-info--product top-bg-section">
                <div class="container">
                    <div class="row">
                      <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="mt_50 box-border box-border_justify">
                            <h1 class="h1-page box-border__title">
                              Гемосорбция
                            </h1>
                            <p>
                              Гемосорбция - это метод экстракорпоральной гемокоррекции, 
                              основанный на выведении из крови пациента субстанций 
                              эндогенной и экзогенной природы в результате 
                              перфузии цельной крови через специальный сорбент.
                            </p>
                        </div>
                      </div>
                    </div>
                    
                </div>
              </section>
              <section class="aferez aferez_product-info">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1">
                             <img src="assets/img/aferez-1.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="product-info-box">
                                 
                                <div class="product-info-box__body">
                                    <p>
                                        Double filtration plasmapheresis (DFPP) – двойной фильтрационный плазмаферез
                                        Cascade filtration (CF) – каскадная фильтрация
                                        Cascade plasmapheresis – каскадный плазмаферез.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="aferez-image">
                                <img src="assets/img/aferez-1.jpg" alt="">
                                <div class="aferez-image-text">
                                    Общая схема проведения процедуры гемосорбции
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="product-info-box">
                                <div class="product-info-box__body">
                                    <p>
                                        Для проведения процедуры гемосорбции необходимо использовать перфузионный
                                        блок с двумя перистальтическими роликовыми насосами для крови и антикоагулянта.

                                        Преимуществом гемосорбции является отсутствие дорогостоящей стадии плазмосепарации. Это существенно упрощает процедуру, позволяя использовать данный
                                        метод в интенсивной терапии и делая его более доступным для практического
                                        здравоохранения.

                                        К данному виду процедуры относится ЛПС сорбция.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                   </div>
                </section>

                <section class="aferez aferez_accordion accordion">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab ">
                                    <input type="checkbox" id="tab1" name="tab-group">
                                    <label for="tab1" class="tab-title">Что такое HTML5?</label> 
                                    <section class="tab-content"> 
                                        <div class="product-info-box product-info-box_min">
                                            <div class="product-info-box__title">
                                                <h3 class="h3">
                                                    Теоретическое обоснование применения
                                                </h3>
                                            </div>
                                            <div class="product-info-box__body">
                                                <p>
                                                    Совместимость донора и реципиента по группе крови - одно из основных условий успешной трансплантации органов. Антигены А
                                                    и В (антигены группы крови экспрессируются на поверхности почти всех клеток организма. Согласно закону,
                                                    сформулированному Landsteiner, в крови каждого человека циркулируют анти-А и анти-В антитела вне зависимости от наличия
                                                    антигенов группы крови. У большинства людей антитела к антигенам системы AB0 вырабатываются в течение жизни в результате
                                                    контакта иммунной системы человека с окружающей средой. Если антитела присутствуют в сыворотке реципиента в высоком
                                                    титре, то они запускают процесс отторжения трансплантата. Для обеспечения приживаемости трансплантата необходимо
                                                    удаление (снижение титра) анти А/В антител до минимальных значений. Методы экстракорпоральной терапии позволяют
                                                    эффективно удалить антигрупповые антитела из кровотока пациента.
                                                </p>
                                                <p>
                                                    Анти-А/В антитела относятся к иммуноглобулинам класса G и М, однако их концентрация в кровотоке крайне мала и
                                                    составляет не более одной десятитысячной доли уровня суммарных иммуноглобулинов. Поэтому использование методов,
                                                    снижающих концентрацию суммарных иммуноглобулинов, нецелесообразно. Применение специфичных сорбентов является наиболее
                                                    эффективным и безопасным для пациента.
                                                </p>
                                                <button class="down-btn">
                                                    <em class="down-btn-text">Открыть</em> <img src="assets/img/down-black.svg" alt="Open">
                                                </button>
                                            </div>
                                        </div>
                                        <h3 class="h3">Описание метода</h3>
                                        <p >
                                            Процедура ЛПС сорбции заключается в селективной гемосорбции эндотоксинов
                                            (липополисахаридов) грамотрицательных бактерий при лечении сепсиса и септического
                                            шока.
                                        </p>
                                        <h3 class="h3">Историческая справка</h3>
                                        <p class="textmore__box">
                                            Уже более 20 лет за рубежом и в нашей стране для лечения пациентов с септическим
                                            шоком применяют сорбционные колонки для экстракорпорального удаления из крови эндотоксинов (ЛПС).
                                        </p>
                                        <p class="textmore__box-body">
                                            За этот период проведено множество доказательных исследований, демонстрирующих
                                            положительные клинические эффекты ЛПС-адсорбции при тяжелом сепсисе и
                                            септическом шоке, в том числе значимое снижение летальности [ссылка на источник].
                                            Использование сорбционных колонок для удаление эндотоксина входит в стандарты
                                            лечения септического шока в Японии.
    
                                        </p>
                                        <h3 class="h3">Показания к применению</h3>
                                        <p>
                                            Показанием к проведению процедуры ЛПС сорбции являются:
                                            - лечение и/или профилактика развития сепсиса и/или септического шока, вызванного
                                            грамотрицательными бактериями.
                                        </p>
                                        <h3 class="h3">Теоретическое обоснование </h3>
                                        <p>
                                            Согласно современным представлениям, эндотоксин — бактериальный липополисахарид
                                            (ЛПС) - является ключевой молекулой в патогенезе инфекции, воспаления, сепсиса,
                                            полиорганной недостаточности и септического шока.
                                            Эндотоксин обладает обширным набором патогенных свойств, которые проявляются, когда его концентрация в общем кровотоке превышает физиологически допустимые нормы.
                                            Современные клинические исследования свидетельствуют, что высокий уровень эндотоксина в системном кровотоке коррелирует с плохими клиническими исходами. За последние 20 лет получены достоверные данные, демонстрирующие положительные клинические эффекты ЛНП
                                            сорбции, в том числе снижение летальности.
    
                                        </p>
                                        <h3 class="h3">Продукты ПОКАРД для ЛПС сорбции </h3>
                                        <p>
                                            Колонка Токсипак® 
                                        </p>
                                        <p>
                                            Клинический опыт применения: <br>
                                            Гендель Л. Л., Соколов А. А., Губанова С. Н., Адамова И. Ю., Левашов П. А. Первый
                                            клинический опыт применения колонок для ЛПС-адсорбции «Токсипак» в лечении пациентов с сепсисом // Вестник анестезиологии и реаниматологии. – 2017. – Т.
                                            14, № 5. – С. 42-50. DOI: 10.21292/2078-5658-2017-14-5-42-50
                                        </p>
                                    </section> 
                                </div> 
                                
                            </div>
                            <div class="col-12">
                                <div class="tab">
                                    <input type="checkbox" id="tab2" name="tab-group">
                                    <label for="tab2" class="tab-title">Можно ли программировать на HTML5?</label> 
                                    <section class="tab-content"> 
                                        Нет, на HTML5 по прежнему нельзя программировать, основным языком является JavaScript. 
                                        Так что в разговоре лучше не упоминать, что умеешь программировать на HTML5, засмеют.
                                    </section> 
                                </div> 
                                
                            </div>
                            <div class="col-12">
                                <div class="tab">
                                    <input type="checkbox" id="tab3" name="tab-group">
                                    <label for="tab3" class="tab-title">Чем HTML5 отличается от HTML4?</label>
                                    <section class="tab-content">
                                        В HTML5 добавлены новые элементы, вроде &lt;header&gt;, &lt;footer&gt;, 
                                        &lt;aside&gt;, &lt;article&gt;, появилась долгожданная поддержка аудио, 
                                        видео и многое другое.
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 footer-contacts-block">
                       <div class="footer-logo">
                           <a href="#">Покард</a>
                       </div>
                       <ul class="footer-contats">
                           <li>
                               121552, Москва, ул. 3-я Черепковская, д.15а
                           </li>
                           <li>
                               <a href="tel:+74954146815">+ 7(495)414-68-15</a>
                           </li>
                           <li>
                               <a href="mailto:info@pocard.ru">info@pocard.ru</a>
                           </li>
                       </ul>
                    </div>
                     <div class="col-12 col-lg-3 footer-menu-desk">
                         <ul class="footer-nav">
                             <li>
                                 <a href="#">
                                     Главная
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     О компании
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Каталог продукции
                                 </a>
                             </li>
                         </ul>
                     </div>
                     <div class="col-12 col-lg-4 footer-menu-desk">
                         <ul class="footer-nav footer-nav_small">
                             <li>
                                 <a href="#">
                                     Технологии афереза
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Общие сведения
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Плазмосорбция
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Каскадная плазмофильтрация
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Селективная плазмофильтрация
                                 </a>
                             </li>
                         </ul>
                     </div>
                     <div class="col-12 col-lg-2 footer-menu-desk">
                         <ul class="footer-nav">
                             <li>
                                 <a href="#">
                                     Пациентам
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Врачам
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Новости
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     Контакты
                                 </a>
                             </li>
                         </ul>
                     </div>
 
                     <!-- моб футер -->
                     <div class="col-12 col-sm-6 footer-menu-mob">
                       <ul class="footer-nav">
                           <li>
                               <a href="#">
                                   Главная
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   О компании
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   Каталог продукции
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   Технологии афереза
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   Пациентам
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   Врачам
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   Новости
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   Контакты
                               </a>
                           </li>
                       </ul>
                   </div>
                </div>
            </div>
         </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.mousewheel.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>