<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Pocard</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <!-- Header -->
            <header class="header">
                <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="search header__search">
                                    <form action="#" class="search-form">
                                        <input type="text"> 
                                        <button>
                                            <img src="assets/img/ico-search.svg" alt="search">
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 offset-lg-3">
                                <div class="header__info">
                                    <div class="link-phone">
                                        <img src="assets/img/ico-phone.svg" alt="Pohne">
                                        <a href="tel:+74954146815">+ 7(495)414-68-15</a>
                                    </div>
                                    <div class="link-question">
                                        <img src="assets/img/ico-circle.svg" alt="Circle">
                                        <a class="open-modal-form" href="#">Задать вопрос</a>
                                    </div>
                                    <ul class="lang">
                                        <li class="lang-active">
                                            <a href="#">
                                                Ru
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                En
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-1 header__menu">
                                <a href="#" class="logo">
                                    <img src="assets/img/logo.svg" alt="Pocard">
                                </a>
                            </div>
                            <div class="col-12 col-md-11">
                                <nav class="header__nav nav">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                О компании
                                            </a>
                                        </li>
                                        <li class="active drop-section">
                                            <a href="#">
                                                Каталог продукции
                                            </a>
                                            <ul class="drop-down">
                                                <li>
                                                    <a href="#">
                                                        Подменю
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Подменю
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="drop-section">
                                            <a href="#">
                                                Технологии афереза
                                            </a>
                                            <ul class="drop-down">
                                                <li>
                                                    <a href="#">
                                                        Подменю
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Подменю
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Информация для пациентов
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Библиотека для профессионалов
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Контакты
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <section class="product-top top-bg-section_left">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <div class="product-main-slider">
                                    <div class="product-main-slider__item">
                                        <img src="assets/img/product-1.png" alt="">
                                    </div>
                                    <div class="product-main-slider__item">
                                        <img src="assets/img/product-1.png" alt="">
                                    </div>
                                    <div class="product-main-slider__item">
                                        <img src="assets/img/product-1.png" alt="">
                                    </div>
                                </div>
                                <div class="product-nav-slider">
                                    <button class="slider-arrow slider-prev">
                                        <img src="assets/img/ico-arrow.svg" alt="Prev">
                                    </button>
                                    <div class="product-nav-slider__wrap">
                                        <div class="product-nav-slider__item">
                                            <img src="assets/img/product-1.png" alt="">
                                        </div>
                                        <div class="product-nav-slider__item">
                                            <img src="assets/img/product-1.png" alt="">
                                        </div>
                                        <div class="product-nav-slider__item">
                                            <img src="assets/img/product-1.png" alt="">
                                        </div>
                                    </div>
                                    <button class="slider-arrow slider-next">
                                        <img src="assets/img/ico-arrow.svg" alt="Next">
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5">
                                <div class="product-title-box mb_50 box-border">
                                    <h1 class="h1-page box-border__title">
                                        АВО Адсопак®
                                    </h1>
                                    <p>
                                        Колонки АВО Адсопак® предназначены для удаления антител к антигенам групп крови (по системе АВО) из плазмы крови
                                        пациентов в терапевтической экстракорпоральной процедуре афереза (АВО аферез) до и после АВ0 несовместимой
                                        трансплантации органов.
                                    </p>
                                </div>
                                <div class="product-use">
                                    <div class="product-use__title">
                                        Показания к применению
                                    </div>
                                    <ul class="product-use__list">
                                        <li>
                                            несовместимость по группе крови у донора и реципиента при проведении трансплантации органа.
                                        </li>
                                        <li>
                                            красноклеточная аплазия после пересадки костного мозга у пациентов с острым миелобластным лейкозом.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="product-info">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-1">
                                <div class="product-info-box product-info-box_min">
                                    <div class="product-info-box__title">
                                        <h2 class="h2">
                                            Теоретическое обоснование применения
                                        </h2>
                                    </div>
                                    <div class="product-info-box__body">
                                        <p>
                                            Совместимость донора и реципиента по группе крови - одно из основных условий успешной трансплантации органов. Антигены А
                                            и В (антигены группы крови экспрессируются на поверхности почти всех клеток организма. Согласно закону,
                                            сформулированному Landsteiner, в крови каждого человека циркулируют анти-А и анти-В антитела вне зависимости от наличия
                                            антигенов группы крови. У большинства людей антитела к антигенам системы AB0 вырабатываются в течение жизни в результате
                                            контакта иммунной системы человека с окружающей средой. Если антитела присутствуют в сыворотке реципиента в высоком
                                            титре, то они запускают процесс отторжения трансплантата. Для обеспечения приживаемости трансплантата необходимо
                                            удаление (снижение титра) анти А/В антител до минимальных значений. Методы экстракорпоральной терапии позволяют
                                            эффективно удалить антигрупповые антитела из кровотока пациента.
                                        </p>
                                        <p>
                                            Анти-А/В антитела относятся к иммуноглобулинам класса G и М, однако их концентрация в кровотоке крайне мала и
                                            составляет не более одной десятитысячной доли уровня суммарных иммуноглобулинов. Поэтому использование методов,
                                            снижающих концентрацию суммарных иммуноглобулинов, нецелесообразно. Применение специфичных сорбентов является наиболее
                                            эффективным и безопасным для пациента.
                                        </p>
                                        <button class="down-btn">
                                            <em class="down-btn-text">Открыть</em> <img src="assets/img/down-black.svg" alt="Open">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-1">
                                <div class="product-info-box">
                                    <div class="product-info-box__title">
                                        <h2 class="h2">
                                            Описание
                                        </h2>
                                    </div>
                                    <div class="product-info-box__body">
                                        <p>
                                            Колонки выпускаются в пластиковом корпусе объемом 150 и 300 мл. <br>
                                            Специфичность колонки обеспечивают активные ингредиенты – сорбенты. <br>
                                            Сорбенты представляют собой инертную полисахаридную матрицу, на которую иммобилизованы синтетические коньюгаты
                                            олигосахаридов, имитирующие антигены групп крови. <br>
                                            Колонки АВО Адсопак®–А и АВО Адсопак®–В специфичны, соответственно, к антителам А и В групп крови. <br>
                                            Сорбент в колонке АВО Адсопак®–АВ представляет собой смесь сорбентов анти- А и анти-В в равных пропорциях. <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-5 offset-1">
                                <div class="product-info-box">
                                    <div class="product-info-box__title">
                                        <h2 class="h2">
                                            Применение
                                        </h2>
                                    </div>
                                    <div class="product-info-box__body">
                                        <p>
                                            <b class="text_20 mb_5ib">Плазмосорбция</b> <br>
                                            <b>Процедура</b> - АВО-аферез <br>
                                            <b>Тип плазмосепаратора</b> - фильтрационный/центрифужный <br>
                                            <b>Регенерируемость</b> - да (растворы входят в комплект) <br>
                                            <b>Гарантия</b> - 5 процедур. <br>
                                            <b>Дополнительно</b> - переходник с разъемами люер-лок. <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5">
                                <div class="product-info-box">
                                    <div class="product-info-box__title">
                                        <h2 class="h2">
                                            Модели
                                        </h2>
                                    </div>
                                    <div class="product-info-box__body product-info-box__body--model">
                                        <ul class="product-info-box__model-list"> 
                                            <li>
                                                <b class="text_20 mb_5ib model-list__name model-list__capacity--title">
                                                    Модель
                                                </b>
                                                <b class="text_20 mb_5ib model-list__capacity model-list__capacity--title">
                                                    Объем
                                                </b>
                                                <b class="text_20 mb_5ib model-list__volume model-list__volume--title">
                                                    Ёмкость колонки
                                                </b>
                                            </li>
                                            <li>
                                                <span class="model-list__name">
                                                    АВО Адсопак®-А150
                                                </span>
                                                <span class="model-list__capacity">
                                                    150мл
                                                </span>
                                                <span class="model-list__volume">
                                                    2-3 гр холестерина
                                                </span>
                                            </li>
                                            <li>  
                                                <span class="model-list__name">
                                                    АВО Адсопак®-B150
                                                </span>
                                                <span>
                                                    150мл
                                                </span>
                                                <span class="model-list__volume">
                                                    2-3 гр холестерина
                                                </span>
                                            </li>
                                            <li>
                                                <span class="model-list__name">
                                                    АВО Адсопак®-А300
                                                </span>
                                                <span>
                                                    300мл
                                                </span>
                                                <span class="model-list__volume">
                                                    2-3 гр холестерина
                                                </span>
                                            </li>
                                            <li>
                                                <span class="model-list__name">
                                                    АВО Адсопак®-B300
                                                </span>
                                                <span>
                                                    300мл
                                                </span>
                                                <span class="model-list__volume">
                                                    2-3 гр холестерина
                                                </span>
                                            </li>
                                            <li>
                                                <span class="model-list__name">
                                                    АВО Адсопак®-АB300
                                                </span>
                                                <span>
                                                    300мл
                                                </span>
                                                <span class="model-list__volume">
                                                    2-3 гр холестерина
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-1">
                                <div class="product-info-box">
                                    <div class="product-info-box__title">
                                        <h2 class="h2">
                                            Инструкция
                                        </h2>
                                    </div>
                                    <div class="product-info-box__body">
                                        <ul class="download-list">
                                            <li class="download-list-li">
                                                <a href="" class="download-list-a">
                                                  <img src="assets/img/ico-pdf.svg" alt="PDF">
                                                  <p>
                                                    Инструкция по применению Колонок АВО Адсопак®
                                                  </p>
                                                  <span>Скачать</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <!-- Footer -->
        <footer class="footer">
           <div class="container">
               <div class="row">
                   <div class="col-12 col-lg-3">
                        <div class="footer-logo">
                            <a href="#">Покард</a>
                        </div>
                        <ul class="footer-contats">
                            <li>
                                121552, Москва, ул. 3-я Черепковская, д.15а
                            </li>
                            <li>
                                <a href="tel:+74954146815">+ 7(495)414-68-15</a>
                            </li>
                            <li>
                                <a href="mailto:info@pocard.ru">info@pocard.ru</a>
                            </li>
                        </ul>
                   </div>
                    <div class="col-12 col-lg-3">
                        <ul class="footer-nav">
                            <li>
                                <a href="#">
                                    Главная
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    О компании
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Каталог продукции
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-4">
                        <ul class="footer-nav footer-nav_small">
                            <li>
                                <a href="#">
                                    Технологии афереза
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Общие сведения
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Плазмосорбция
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Каскадная плазмофильтрация
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Селективная плазмофильтрация
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-2">
                        <ul class="footer-nav">
                            <li>
                                <a href="#">
                                    Пациентам
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Врачам
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Новости
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </div>
               </div>
           </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.mousewheel.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>