.aferez {
  &-info{
    &--product {
      &.top-bg-section {
          background: url('../img/top-bg.jpg') no-repeat bottom right 0px;
        
          @media screen and (max-width: $phoneWidth){
            background: #fff;
          }
      }
    }
    &.top-bg-section {
      background: url('../img/top-bg.jpg') no-repeat bottom right 0px;
    }
  }
    .product-info-box_min{
      .product-info-box__title,
      .product-info-box__body {
        padding: 5px 0;
        max-height: calc(18px * 3);
        &.product-info-box__body_active {
          max-height: 99999px;
        }
      }
    }
    .product-info-box{
      .product-info-box__title,
      .product-info-box__body {
        padding: 5px 0;
      }
    }
    
  
  &-list {
    list-style-type: disc;
    margin-left: 18px;
    margin-bottom: 25px;
    &-item {
      line-height: 150%;
    }
  }
  &-image {
    width: fit-content;
    position: relative;
    &-text {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: rem(14);
      font-weight: bold;
      @media screen and (max-width: $phoneWidth){
        bottom: -10px;
      }
    }
  }

  &_product-info {
    margin-top: 0;
  }

  .product-info-box{
    margin-top: 20px;
    margin-bottom: 0;
    height: auto;
    border: none;
    margin-bottom: 20px;
    &__title{
        color: $primary-color;
        background: #fff;
        padding: 5px 20px 8px 20px;
        .h2{
            font-size: rem(28);
            color: $primary-color;
        }
    }
    &__body{
        // padding: 16px;
        position: relative;
        font-size: rem(16);
    }
  }
  
  
  &_accordion{
    margin: 50px 0;
    font-size: rem(16);
    .h3 {
      margin-bottom: 15px;
      margin-top: 18px;
    }
  }
}
