.contacts {
  @include flex(row, center, center);
  height: calc(100vh);
  background: url('../img/contacts-bg.jpg') bottom no-repeat #007CC3;
  background-size: cover;
  color: $default-color;
  @include link_a;

  &-left{
    @include flex(column, center, center);

    @media screen and (max-width: $tableWidth ){
      text-align: center;
    }
  }
  &_block {
    width: fit-content;
  }
  &-title {
    color: $default-color;
    @media screen and (max-width: $tableWidth ){
      font-size: rem(28);
    }
  }
  &-subtitle {
    color: $default-color;
    @media screen and (max-width: $tableWidth ){
      display: none;
    }
  }
  &-address {
    margin-top: 30px;
    font-size: rem(22);
    line-height: rem(26);
    @media screen and (max-width: $tableWidth ){
      font-size: rem(16);
      line-height: rem(18);
    }
  }


  &-right {
    @include flex(column, center,center); 
  }
  &-btn {
    margin-top: 20px;
  }
}