.download-list{
  &-li{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: rem(14);
      padding: 0;
      margin-top: 5px;
      margin-bottom: 10px;
  }
  &-a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    
    line-height: rem(16);
    &:hover {
        text-decoration: none;
      }
    @media screen and (max-width: $tableWidth)  {
        font-size: rem(16);
    }
    img{
        margin-right: 10px;
        flex-shrink: 0;
        width: 20px;
    }
    p{
        display: block;
        padding-right: 10px;
        width: 85%;
        margin-bottom: 0;
        color: #000;
        @media screen and (max-width: 400px ) {
            width: 65%;
        }
        &:hover {
            text-decoration: underline;
        }
        .download-list-text--right {
            display: block;
            -ms-flex-item-align: end;
            align-self: flex-end;
            margin-right: auto;
            width: 100%;
            font-style: italic;
            line-height: 24px;
            font-size: rem(16);
        }
    } 
    span {
        width: 15%;
        &:hover {
            text-decoration: underline;
        }
        
    }
  }

  &.download-list--publications {
    padding-left: 20px;
    @media screen and (max-width: $phoneWidth)  {
        padding-left: 0;
    }
    .download-list {
        &-a{
            p {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
  }
  &.download-list--helplinks{
    padding-left: 20px;
    
    margin: 20px 0;
    @media screen and (max-width: $phoneWidth)  {
        padding-left: 0;
    }
    .download-list {
        &-a{
            align-items: flex-start;
            p {
                text-align: justify;
                padding-right: 150px;
                font-style: italic;
                @media screen and (max-width: $phoneWidth)  {
                    padding-right: 10px
                }
            }
        }
    }
  }
}