.modal {
  @include flex(row, center, center);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  overflow-y: scroll;
  &-area {
    @include flex(column, center, center);
    position: relative;
    max-width: 1030px;
    width: 100%;
    min-height: 475px;
    background: #fff;
  }
  &--form {
    .modal {
      &-area {
        padding: 54px 10px;
      }
      &-btn {
        margin-top: 30px;
      }
    }
  }
  &--thanks {
    .modal {
      &-title {
        font-weight: 400;
      }
      &-subtitle {
        margin-top: 63px;
        font-weight: 400;
      }
    }
  }
  // Класс закрытия модалки
  &.closed {
    display: none;
  }
  // Крестик
  .close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: $primary-color-dark;
    cursor: pointer;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}