.modal {
  @include flex(row, center, center);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  overflow-y: scroll;
  z-index: 100;
  &-area {
    @include flex(column, center, center);
    position: relative;
    max-width: 1030px;
    width: 100%;
    min-height: 475px;
    max-height: 85%;
    background: #fff;
    overflow-y: scroll;
    @media screen and (max-width: $smDesktopWidth + 50px ){
      max-width: 95%;
      padding: 55px 20px 10px;
    }
  }
  &--form {
    .modal {
      &-area {
        padding: 54px 10px;
      }
      &-form {
        @media screen and (max-width: $phoneWidth){
          max-width: 90%;
          width: 100%;
          margin: auto;
        }
      }
      &-input {
        @media screen and (max-width: $phoneWidth){
          width: 100%;
        }
      }
      &-btn {
        margin-top: 30px;
        @media screen and (max-width: $phoneWidth){
          width: 100%;
        }
      }
    }
  }
  &--thanks {
    .modal {
      &-title {
        font-weight: 400;
      }
      &-subtitle {
        margin-top: 63px;
        font-weight: 400;
      }
    }
  }
  // Класс закрытия модалки
  &.closed {
    display: none;
  }
  // Крестик
  .close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: $primary-color-dark;
    cursor: pointer;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}


// Модальное окно клиники

.modal.modal--clinic{
  .modal{
    &-area {
      overflow: hidden;
    }
    &-table{
      max-height: 80%;
      overflow-y: scroll;
      @media screen and (max-width: $phoneWidth){
        padding: 15px 20px;
      }
    }
    &-row{
      @include flex;
      width: 100%;
      font-size: rem(18);
      line-height: rem(21);
      @media screen and (max-width: $phoneWidth){
        @include flex(column);
        margin-top: 2px;
      }
    }
    &-denomination{
      min-width: 250px;
      width: 250px;
      color: $primary-color;
      

    }
    &-value{
      text-align: left;
      color: #000;
      @media screen and (max-width: $phoneWidth){
        margin-top: 10px;
      }
    }
  }
}

// Модальное окно НОВОТИ

.modal.modal--news{
  .modal{
    &-area {
      @include flex(column);
      overflow-y: scroll;
      padding: 20px;
    }
    &-title {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: rem(22);
      line-height: rem(26);
    }
    &-img {
      width: 100%;
      margin-bottom: 32px;
    }
    &-text {
      margin-bottom: 12px;
      font-size: rem(16);
      line-height: rem(18);
      text-align: justify;
    }
    &-date {
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 35px;
      text-align: right;
      font-weight: 300;
      font-size: rem(16);
      line-height: rem(18);
    }
  }
}

