.proflib {
  &-title {
    margin-top: 42px;
    margin-bottom: 48px;
  }
   

  &_accordion {
    .tab{
      margin: 20px 0;
    }
    .tab-title{
      color: $primary-color-dark;
    }
  }
  &_news{
    margin-bottom: 100px;
  }
}

.instructions {
  &-title {
    color: #000;
    font-size: rem(16);
    padding-left: 10px;
    &.instructions-title--helplinks {
      font-size: rem(16);
      font-weight: 400;
    }
  }
  .download-list{
    &-li{
      margin-top: 15px;
      padding: 0 10px;
    }
  }
}