/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Ubuntu', Helvetica, Arial, sans-serif; //'Montserrat'

// Size
$mainFontColor           : #000000;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 992px;
$smTableWidth            : 768px;
$phoneWidth              : 576px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
$primary-color           : #007CC3; //
$primary-color-dark     : #006DAB; //
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #FDAE55; //
$light-color             : #C9D6DF; //
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
